{{> headeradmin}}
<div class="banner text-center">
    <h1>Biblioteca virtual</h1>
    <h2>Bienvenido al Modulo de Gestion de Usuarios</h2>
</div>
{{> admin}}

<section class="info">
    <div class="mi-flex row">
        <div id="Noticia" class="container">
            <h2>Agregar Informacion</h2>
            <div class="row mb-3">
                <div class="col">
                    <form class="form" method="POST" action="/guardarInfo">
                        <input class="d-none" type="text" name="idinfo">

                        <label for="">Mision</label>
                        <textarea class="form-control" name="mision" rows="3"></textarea>

                        <label for="">Vision</label>
                        <textarea class="form-control" name="vision" rows="3"></textarea>

                        <label for="">Objetivos</label>
                        <textarea class="form-control" name="objetivos" rows="3"></textarea>

                        <label for="exampleFormControlFile1">Organigrama</label>
                        <input type="file" class="form-control-file" name="organigrama">

                        <button name="btnAgregarinfo" class="btn btn-primary">Agregar Informacion</button>

                    </form>

                </div>
            </div>

        </div>
    </div>

    <div class="container">
        <div class="col">
            <h2>Informacion organizacional</h2>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Mision</th>
                            <th scope="col">Vision</th>
                            <th scope="col">Objetivos</th>
                            <th scope="col">Organigrama</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody id="">
                        {{#each infoorganizacional}}
                        <tr>
                            <td>{{mision}}</td>
                            <td>{{vision}}</td>
                            <td>{{objetivos}}</td>
                            <td>{{organigrama}}</td>
                            <td>
                            <button onclick="" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                            <button onclick="" class="btn btn-info"><i class="far fa-edit"></i></button>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</section>