<div class="container">
    <div class="row">
        <div class="list-group">
            <a href="admi.html" class="list-group-item list-group-item-action active ">
                Administrador
            </a>
            <a href="administrador.html" class="list-group-item list-group-item-action">Gestionar usuarios</a>
            <a href="noticia.html" class="list-group-item list-group-item-action">Gestionar noticia</a>
            <a href="informacion.html" class="list-group-item list-group-item-action">Gestionar infomacion</a>
            <a href="contacto.html" class="list-group-item list-group-item-action ">Gestionar contacto</a>
        </div>
    </div>

</div>