<div class="container">
    <div class="row">
        <div class="list-group">
            <a href="admi.html" class="list-group-item list-group-item-action active ">
                Administrador
            </a>
            <a href="./../../ModuloUsuarios/index.hbs" class="list-group-item list-group-item-action">Gestionar usuarios</a>
            <a href="./../../ModuloNoticia/index.hbs" class="list-group-item list-group-item-action">Gestionar noticia</a>
            <a href="./../../ModuloInfoOrganizacional/index.hbs" class="list-group-item list-group-item-action">Gestionar infomacion</a>
            <a href="./../../ModuloContacto/index.hbs" class="list-group-item list-group-item-action ">Gestionar contacto</a>
        </div>
    </div>

</div>