<div class="container">
    <div class="row">
        <div class="list-group">
            <a href="admi.html" class="list-group-item list-group-item-action active ">
                Administrador
            </a>
            <a href="./registrarUsuarioAdmi" class="list-group-item list-group-item-action">Gestionar usuarios</a>
            <a href="./guardarNoticia" class="list-group-item list-group-item-action">Gestionar noticia</a>
            <a href="./guardarInfo" class="list-group-item list-group-item-action">Gestionar infomacion</a>
            <a href="./guardarcontacto" class="list-group-item list-group-item-action ">Gestionar contacto</a>
        </div>
    </div>

</div>