<div class="container-admin">
    <div class="row">
        <div class="list-group">
            <a href="./admin" class="list-group-item list-group-item-action active ">
                Administrador
            </a>
            <a href="./usuarios" class="list-group-item list-group-item-action">Gestionar usuarios</a>
            <a href="./noticia" class="list-group-item list-group-item-action">Gestionar noticia</a>
            <a href="./informacion" class="list-group-item list-group-item-action">Gestionar infomacion</a>
            <a href="./contacto" class="list-group-item list-group-item-action ">Gestionar contacto</a>
        </div>
    </div>

</div>