<footer class="footer mt-auto py-3">
    <div class="container">

        <p class="texto-footer text-center">
            
            p.direccionDirección:  17 Diagonal 17 con Carrera 3F, Barrio Porvenir Florencia - Caquetá 
            Teléfono: (8) 4361556; Conmutador 4366160 Ext. 114 <br>
            Jefe de División: Bibliotecóloga Lilliana Maria Pérez Sierra, l.perez@udla.edu.co <br>
            Secretaria de la División: Elvira Arteaga, e.arteaga@udla.edu.co<br>
            2020. Todos los derechos reservados.</p>
    </div>
</footer>