 <header>

        <div class="container">
            <div class="contenedor">
                <nav class="nav-main">
                    <img src="https://sibcolombia.net/wp-content/uploads/2016/05/Logo-u-amazonia.png" alt="" />
                    <ul class="nav-menu">
                        <li>
                            <a href="/">Inicio</a>
                        </li>
                        <li>
                            <a href="admi.html">Servicios</a>
                        </li>
                        <li>
                            <a href="informacion.html">Nosotros</a>
                        </li>
                        <li>
                            <a href="contacto.html">Contactos</a>
                        </li>
                        <li>
                           <form action="/cerrarSesion" method="get">
                            <button name="btncerrarSesion" class="btn btn-primary">Cerrar Sesion</button>
                           </form>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="banner text-center">
            <h1>Biblioteca virtual: Administrador</h1>
        </div>
    </header>