 <header>

        <div class="container">
            <div class="contenedor">
                <nav class="nav-main">
                    <img src="https://sibcolombia.net/wp-content/uploads/2016/05/Logo-u-amazonia.png" alt="" />
                    <ul class="nav-menu">
                        <li>
                            <a href="/">Inicio</a>
                        </li>
                        <li>
                            <a href="admi.html">Servicios</a>
                        </li>
                        <li>
                            <a href="informacion.html">Nosotros</a>
                        </li>
                        <li>
                            <a href="contacto.html">Contactos</a>
                        </li>
                        <li>
                            <div class="">
                                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <a id="mensaje" href=""></a>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                  <a class="dropdown-item" onclick="cerrar()" >Cerrar sesion</a>
                                 
                                </div>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="banner text-center">
            <h1>Biblioteca virtual</h1>
            <h3>Bienvenido al Modulo de administrador</h3>

        </div>
    </header>