<header>
  <div class="container">

    <nav class="nav-main">
      <img src="https://sibcolombia.net/wp-content/uploads/2016/05/Logo-u-amazonia.png" alt="" />
      <ul class="nav-menu">
        <li>
          <a href="index.html">Inicio</a>
        </li>
        <li>
          <a href="./vistas/Noticias.html">Todas las noticias</a>
        </li>
        <li>
          <a href="./vistas/mostrarinformacion.html">Nosotros</a>
        </li>
        <li>
          <a href=".vistas/contacto.html">Contactos</a>
        </li>

        <li>
          <a id="mensaje" href=".vistas/Login.html">Iniciar sesion</a>

        </li>
      </ul>
    </nav>
  </div>


</header>