<section class="servicios">
    <div class="container">
        <div class="row">
            <div class="col-md-10 text-center">
                <i class="fas fa-concierge-bell fa-4x"></i>
                <h2>Ultimas Noticias</h2>
                <div class="main" id="listaNoticia"></div>
            </div>
        </div>
    </div>
    <div class="todas-noticias text-center">
        <button type="button" class="boton-noticias btn btn-success" onclick="noticias()">Ver todas las
            Noticias</button>
    </div>
</section>