{{>header}}

<div class="banner text-center">
  <h2>Informacion Organizacional</h2>
</div>
{{#each infoorganizacional}}
<div class="til-misi ">
  <h3 class="mision">Misión</h3>
</div>
<div class="tex-mision text-justify">
  <p>{{mision}} </p>
</div>
<div class="til-visi ">
  <h3 class="vision">Visión</h3>
</div>
<div class="tex-vision text-justify">
  <p>{{vision}} </p>
</div>
<div class="til-obj ">
  <h3 class="objetivos">Objetivos</h3>
</div>
<div class="tex-obj text-justify">
  <p>{{objetivos}} </p>
</div>
<div class="til-orga ">
  <p>{{organigrama}}</p>
</div>
{{/each}}

{{>footer}}