body {
    background-size: cover;
    
}
#cont{
    width: 50px;
    height: 50px;

}

.encabezado {
    margin: 50px;
    text-align: center;
}

#iniciar {
    margin: 20px;
}

.main{
    display: flex;  
    
}

.boton-noticias{
    margin-top: 15px;
    margin-bottom: 10px;
}

.main p{    
    text-align: center;
    text-overflow: Ellipsis; 
    white-space: nowrap;     
    overflow: hidden;
}



.login {
    
    justify-content: center;
    padding: 10px;
    padding-left: 20px;
    background-color: whitesmoke;
    text-align: center;
    margin-left: 420px;
    margin-right: 500px;
    height: 690px;
    width: 470px;
    opacity: 0.7;
    
    
}
.login input{
    outline: none;
    height:30px;
    width: 300px;

}

#mensaje1 {
    margin-left: 90%;
}

#saludo {
    text-align: center;
}

.contenedor {
    padding: 10px;
    vertical-align: middle;
    margin: auto;
    width: 80%;
}

.menu {
    display: inline-block;
    width: 30%;
}


#texto {
    background-color: whitesmoke;
    padding: 10px;
    
    text-align: justify;
    line-height: 1;
    display: inline-block;
    width: 60%;
}

.imagen {
    width: 650px;
    height: 250px;
}


.nav-main {
    background: white;

    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

li {
    list-style: none;
}

.nav-main img {
    padding-left: 20px;
    width: 60px;
}

.nav-main ul {
    display: flex;
}

.nav-main ul li {
    padding: 10px;
}

.nav-menu a {
    color: green;
    text-decoration: none;

}



.Texto_inicio {
    text-align: center;
    color: green;
}


.noticias {
    text-align: center;
}

.informacion {
    text-align: initial;
    display: inline-block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    padding: 0px;
    width: 30%;

}

.imagenes {
    position: relative;
    max-width: 100%;
    background-color: transparent;
}

.Imagenes img {
    width: 100px;
    height: 60px;

    display: block;
    margin: auto;

}

.noticia {
    border-bottom: none;
    padding: 0;
    display: inline-block;
    width: 50%;

}

button{
    
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 15px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;

}

.info{
    background:aliceblue;
    padding: 50px;
}

.mi-flex{
    display: flex;
    align-items: center;
}

#Noticia{
    padding: 10px;;
}
.box{
    display: flex;
    color: chartreuse;
}
.s{
    display:flex;
}
.better-social-counter .social-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.better-social-counter.style-style-6 .social-item {
    width: 25%;
    float: left;
}


.til-noticias{
    color: green;
}

.til-misi h1{
    size: 5px;
    color: green;
}

.til-visi h1 {
    color: green;
}

.til-obj h1{
    color: green;
}
