<form action="regis" method="POST">
    <h2>Correo Electronico</h2>
    <input type="email" name="nom" placeholder="Ingresar Usuario" /><br />
    <h2>Contraseña</h2>
    <input type="password" name="con" placeholder="Ingresar Contraseña" /><br />
   <button name="btnR" class="btn btn-primary">Registrar</button>
</form>