<body background="../imagenes/U_login.jpg">

  <div class="login">
    <fieldset>
      <div class="encabezado">
        <h1>Sistema Bibliotecario: Division Bibliotecaria UDLA</h1>
      </div>
      <form method="POST" action="./loge">
        <h2>Usuario</h2>
        <input type="email" name="nomm" placeholder="Ingresar Usuario" /><br />
        <h2>Contraseña</h2>
        <input type="password" name="conn" placeholder="Ingresar Contraseña" /><br />
        <button name="btnIngresar" class="btn btn-primary">Ingresar</button>
      </form>
      <div class="olvido">
        <a href="vistas/recuperar.html">¿Olvidó su nombre de usuario? </a>
        <br>
        <a href="vistas/recuperar.html">¿Olvidó su contraseña?</a>
        <br>
        <a href="/Registrarse">¿Registrarse? </a>
        <br>
        <a href="vistas/ayuda.html">¿Necesitas ayuda?</a>
      </div>
    </fieldset>
  </div>
</body>