<div class="login">
    <fieldset>
      <div class="encabezado">
        <h1>Sistema Bibliotecario: Division Bibliotecaria UDLA</h1>
      </div>
      <form name="validar">
        <h2>Usuario</h2>
        <input type="text" name="txtusuario" id="txtusuario1" placeholder="Ingresar Usuario"/><br />
        <h2>Contraseña</h2>
        <input type="password" name="txtcontrasena" id="txtcontrasena" placeholder="Ingresar Contraseña"/><br />
        <button type="button" id="iniciar" onclick="login()">Ingresar</button>
      </form>
      <div class="olvido">
        <a href="vistas/recuperar.html">¿Olvidó su nombre de usuario? </a>
        <br>
        <a href="vistas/recuperar.html">¿Olvidó su contraseña?</a>
        <br>
        <a href="registrarse.html">¿Registrarse? </a>
        <br>
        <a href="vistas/ayuda.html">¿Necesitas ayuda?</a>
      </div>
    </fieldset>
  </div>