<div id="Noticia" class="container">
  <h2>Agregar Noticia</h2>
  <div class="row mb-3">
    <div class="col">
      <input class="d-none" type="text" id="id">

      <label for="">Titulo Noticia</label>
      <input class="form-control" type="text" id="noticia">

      <label for="">Telefono</label>
      <textarea class="form-control" id="descripcion" rows="3"></textarea>


      <label for="exampleFormControlFile1">Imagen Noticia</label>
      <input type="file" class="form-control-file" id="imagen">
    </div>

  </div>
  <button id="btnAgregar" onclick="agregarNoticia()" class="btn btn-primary">Agregar Noticia</button>
  <button id="btnActualizar" onclick="actualizarNoticia()" class="btn btn-warning">Actualizar
    Noticia</button>

</div>

</div>
</section>
<div class="container">
  <div class="col">
    <h2>Listado de Noticias</h2>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Titulo</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Imagen</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody id="listaNoticia">
        </tbody>
      </table>
    </div>
  </div>
</div>