<body>
    {{> headeradmin}}
    <div class="banner text-center">
        <h1>Biblioteca virtual</h1>
        <h2>Bienvenido al Modulo de Gestion de Usuarios</h2>
    </div>
    {{> admin}}
    <section class="info_usuarios">
        <div class="mi-flex row">
            <div id="Noticia" class="container">
                <h2>Agregar Usuarios</h2>

                <form class="form" name="" method="POST" action="/registrarUsuarioAdmin">
                    <div class="col">
                        <input class="d-none" type="text" name="id">

                        <label for="">Correo Electronico</label>
                        <input class="form-control" type="email" name="nom">

                        <label for="">Contraseña</label>
                        <input class="form-control" type="password" name="con">
                       
                    </div>
                    <button name="btnRegistrarse" id="agregarusuario" class="btn btn-primary">Agregar Usuario</button>
                </form>
            </div>
        </div>


        <div class="container">
            <div class="col">
                <h2>Listado de Usuarios</h2>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Nombre</th>
                                <th scope="col">Contraseña</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody name="">
                            {{#each usuarios}}
                            <tr>
                                <td>{{Usuario}}</td>
                                <td>{{Contrasena}}</td>                
                                <td>
                                    <button onclick="" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                                    <button onclick="" class="btn btn-info"><i class="far fa-edit"></i></button> 

                                </td>
                            </tr>
                            {{/each}}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</body>

</html>