<body>
    {{> headeradmin}}
    <div class="banner text-center">
        <h1>Biblioteca virtual</h1>
        <h2>Bienvenido al Modulo de Gestion de Usuarios</h2>
    </div>
    {{> admin}}
    <section class="info_usuarios">
        <div class="mi-flex row">
            <div id="Noticia" class="container">
                <h2>Agregar Usuarios</h2>

                <form class="form" name="" method="POST" action="/registrarUsuarioAdmin">
                    <div class="col">
                        <input class="d-none" type="text" name="id">

                        <label for="">Nombre</label>
                        <input class="form-control" type="text" name="nombre">

                        <label for="">Contrase単a</label>
                        <input class="form-control" type="password" name="contrasena">

                        <label for="">Repetir contrase単a</label>
                        <input class="form-control" type="password" name="contrasena2">

                        <label class="mt-3" for="">Rol</label>
                        <select id="" class="form-control" name="rols">
                            <option value="Administrador">Administrador</option>
                            <option value="Estudiante">Estudiante</option>
                            <option value="Docente">Docente</option>
                        </select>
                    </div>
                    <button name="btnRegistrarse" id="agregarusuario" class="btn btn-primary">Agregar Usuario</button>
                </form>
            </div>
        </div>


        <div class="container">
            <div class="col">
                <h2>Listado de Usuarios</h2>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Nombre</th>
                                <th scope="col">Contrase単a</th>
                                <th scope="col">Contrase単a2</th>
                                <th scope="col">Rol</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody name="">
                            {{#each usuarios}}
                            <tr>
                                <td>{{this.Usuario.stringValue}}</td>
                                <td>{{this.Contrasena.stringValue}}</td>
                                <td>{{this.Contrasena2.stringValue}}</td>
                                <td>{{this.rol.stringValue}}</td>
                                <td>
                                    <button name="Actualizar" class="btn btn-warning">Actualizar
                                        Usuario</button>

                                </td>
                            </tr>
                            {{/each}}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</body>

</html>